<p id="notice"><%= notice %></p>

<h1>Listing Question Queue Forms</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_queue_forms.each do |question_queue_form| %>
      <tr>
        <td><%= question_queue_form.title %></td>
        <td><%= question_queue_form.description %></td>
        <td><%= question_queue_form.department %></td>
        <td><%= link_to 'Show', question_queue_form %></td>
        <td><%= link_to 'Edit', edit_question_queue_form_path(question_queue_form) %></td>
        <td><%= link_to 'Destroy', question_queue_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question queue form', new_question_queue_form_path %>
