<body class="profile-page">
  <section>
    <h1>Hello <%= @user.first_name %>!</h1>
    <column>
      <p class="user-name">User Name: <%= @user.first_name %> <%= @user.last_name %></p>
      <p class="user-email">User Email: <%= @user.email %></p>
      <%= @user.department %>

      </p>
    </column>
  </section>
</body>
